<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <button ion-button (click)="setfunc()">Set Data</button>
 <button ion-button (click)="getfunc()">Get Data</button>
</ion-content>
